<h1>商品新規登録</h1>

<%= form_with model: @item do |f| %>

<h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
<h4>商品名</h4>
  <%= f.text_field :name %>
<h4>商品説明</h4>
  <%= f.text_area :introduction %>
<h4>ジャンル</h4>

<h4>税抜価格</h4>
  <%= f.text_field :price %>円


<div class="done">
  <%= f.label :販売ステータス %>
  <div>
  <%= f.radio_button :done , true %>
  <%= f.label :done,'販売中',value: true %>
  </div>
  <div>
    <%= f.radio_button :done,false %>
    <%= f.label :done,'販売停止中',value: false %>
  </div>
</div>

  <%= f.submit '新規登録' %>
<% end %>